# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# User Settings
.vscode/
.claude/

# Logs
logs/
*.log

# Certificates
certs/
certs/*.pem
certs/*.key

# Build outputs
dist/
build/
out/
coverage/

# Test files
.tests/

# Need to move elsewhere
documentation/

# MCP Servers
.mcp_servers/
.gitattributes