/* Base Typography and Element Styles */
body {
  background-color: var(--pri-bg-color);
  color: var(--pri-text-color);
  font-family: 'Prompt', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 1rem auto;
  max-width: 650px;
  scrollbar-color: var(--pri-bg-color) var(--sec-bg-color);
  scrollbar-width: thin;
  /* text-shadow: var(--shadow-small); */
  transition: all 0.5s ease;
}

p {
  font-size: .6rem;
  margin-block-start: 0rem;
  margin-block-end: 1rem;
}

pre {
  color: var(--sec-text-color);
  font-size: .8rem;
  line-height: 1rem;
  margin-block-start: 0rem;
  padding: 1rem;
  transition: all 0.5s ease;
  white-space: pre-wrap;
}

h1,
h2,
h3 {
  color: var(--pri-text-color);
  font-size: 1.4rem;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

div h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Utility Classes */
.hidden {
  display: none;
}

.info-text {
  font-size: .8rem;
}
.hidden {
  display: none !important;
}