/* Base Typography and Element Styles */
body {
  font-family: 'Prompt', -apple-system, BlinkMacSystemFont, sans-serif; 
  max-width: 650px; 
  margin: 1rem auto; 
  line-height: 1rem; 
  background-color: var(--pri-bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  /* padding: 0 20px; */
  font-size: .8rem;
  scrollbar-color: var(--scrollbar-thumb) var(--secondary-bg);
  scrollbar-width: thin;
  text-shadow: var(--shadow-small)
}



pre { 
  background: var(--pri-bg-color);
  color: var(--black);
  padding: 1rem; 
  border-radius: var(--inner-radius); 
  white-space: pre-wrap; 
  margin-bottom: 0rem;
  /* border: 1px solid var(--border-color); */
  transition: all 0.3s ease;
  /* font-size: 1rem; */
  line-height: 1rem;
  box-shadow: var(--shadow-medium);
}

div h2 {
  margin-top: 0rem;
}

/* Utility Classes */
.hidden {
  display: none;
}

.info-text {
  font-size: .8rem;
  opacity: 0.8;
}