/* Layout and Container Styles */
.logo-container {
  margin-bottom: 0;
  text-align: center;
}

.logo {
  height: auto;
  max-width: 280px;
}

.flex-spacer {
  flex: 1;
}

.just-center {
  display: flex;
  justify-items: center;
}

.just-left {
  display: flex;
  justify-items: left;
}

.just-right {
  display: flex;
  justify-items: right;
}

.just-space {
  display: flex;
  justify-content: space-between;
}

#transcript {
  padding: 1rem;
}

.header-controls.flex-row,
.model-selector.flex-row,
.lang-selector.flex-row,
.sys-prompt.flex-row,
.file-upload.flex-row {
  align-items: center;
  margin-bottom: 0px;
}

.controls {
  display: flex;
}

/* App Description */
.app-description {
  color: var(--pri-text-color);
  font-size: .7rem;
}

/* Options */
.options-container {
  display: grid;
  place-items: center;
}

.options-row {
  align-items: center;
  background-color: var(--sec-bg-color);
  border-radius: calc(var(--outer-radius) * 3);
  box-shadow: inset var(--shadow-medium);
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.5s ease;
  width: fit-content;
}

.options-row::before {
  flex-grow: 1;
}

.options-row::after {
  transition: all 0.5s ease;
}

.recording-controls {
  align-items: center;
  display: flex;
}

/* Response Container */
.response-container {
  width: 100%;
}

.response-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem;
}

.response-header .box-label {
  margin-bottom: 0;
}

.prompt-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.prompt-header label {
  font-weight: bold;
}

/* History Container */
.history-container {
  margin-top: 0rem;
}

.history-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem;
}

.history-list {
  display: flex;
  margin-top: 0rem;
  padding: .5rem;
  max-height: 300 px;
  overflow-y: scroll;

}

.history-item {
  border-radius: var(--inner-radius);
  background-color: var(--list-item-hover);
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin-block: .5rem;
  /* margin-block-end: 0rem; */
  margin-block-start: 0rem;
}

.history-item:last-of-type {
  margin-block-end: 0rem;
}

.history-item .flex-row {
  margin: 0;
}

.history-item-objection {
  font-size: .8rem;
  opacity: .8;
}

.history-item-response {
  font-size: .8rem;
}

.history-item-meta {
  color: var(--sec-text-color);
  display: flex;
  font-size: .8rem;
  justify-content: space-between;
  opacity: .3;
}

/* Footer */
.footer {
  margin-top: 0rem;
  padding: 1rem 0;
  text-align: center;
}

.footer a {
  color: var(--pri-text-color);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease;
}

.footer a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}