/* Layout and Container Styles */
.logo-container {
  margin-bottom: 0;
  text-align: center;
}

.logo {
  height: auto;
  max-width: 280px;
}

.flex-row {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: right;
  margin-bottom: 1rem;
  width: 100%;
}

.header-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  gap: .25rem;
}

/* App Description */
.app-description {
  color: var(--pri-text-color);
  font-size: .8rem;
}

/* Options */
.options-container {
  display: grid;
  place-items: center;
}

.options-row {
  align-items: center;
  background-color: var(--sec-bg-color);
  border-radius: calc(var(--outer-radius) * 3);
  box-shadow: inset var(--shadow-medium);
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.5s ease;
  width: fit-content;
}

.options-row::before {
  flex-grow: 1;
}

.options-row::after {
  transition: all 0.5s ease;
}

.recording-controls {
  align-items: center;
  display: flex;
}

/* Response Container */
.response-container {
  width: 100%;
}

.response-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.response-header .box-label {
  margin-bottom: 0;
}

.prompt-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.prompt-header label {
  font-weight: bold;
}

/* History Container */
.history-container {
  margin-top: 1rem;
}

.history-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.history-list {
  margin-top: 1rem;
}

.history-item {
  background-color: var(--pri-bg-color);
  border-radius: var(--inner-radius);
  margin-bottom: 1rem;
  padding: 1rem;
}

.history-item-objection {
  font-size: .8rem;
  margin-bottom: .8rem;
  opacity: .8;
}

.history-item-response {
  font-weight: bold;
}

.history-item-meta {
  color: var(--pri-text-color);
  display: flex;
  font-size: .8rem;
  justify-content: space-between;
  margin-top: 1rem;
  opacity: .8;
}

/* Footer */
.footer {
  margin-top: 2.5rem;
  padding: 1rem 0;
  text-align: center;
}

.footer a {
  color: var(--pri-text-color);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease;
}

.footer a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}